/* Stylesheet for the 'contentratings' Plone theme */

div.RatingViewlet {
    overflow: hidden;
    float: right;
}
.UserRatings, .EditorialRatings {
    clear: both;
}

ul.star-rating {
    margin:0 0 0 5px;
}

#content .UserRating a.DeleteRating {
    background-image: url(/++resource++contentratings/cross.gif);
}

#content .small-star .UserRating a.DeleteRating {
    background-image: url(/++resource++contentratings/cross_small.gif);
}

#content .star-rating,
#content .star-rating a:hover,
#content .star-rating a:active,
#content .star-rating a:hover {
    background: url(/++resource++contentratings/star.gif) left -1000px repeat-x;
    background-position: left bottom;
}

#content .small-star .star-rating,
#content .small-star .star-rating a:hover,
#content .small-star .star-rating a:active,
#content .small-star .star-rating a:focus {
	background-image: url(/++resource++contentratings/star_small.gif);
}

#content .Rating {
    margin-bottom: 0.75em;
}