/* Stylesheet for the 'contentratings' Plone theme */

div.RatingViewlet {
    overflow: hidden;
    float: right;
}
.UserRatings, .EditorialRatings {
    overflow: hidden;
}

ul.star-rating {
    margin:0 0 0 5px;
}

#content ul.star-rating{
    margin-left: 0;
}

#content a.DeleteRating{
    border-bottom:none;
    margin: 0;
}

#content .UserRating a.DeleteRating {
    background-image: url(/++resource++plone.contentratings.resources/delete_icon.gif);
    background-position: center center;
    background-repeat: no-repeat;
}

#content .small-star .UserRating a.DeleteRating {
    background-image: url(/++resource++plone.contentratings.resources/delete_icon.gif);
}

#content .star-rating a,
#content .star-rating a:hover,
#content .star-rating a:active,
#content .star-rating a:focus {
    background: url(/++resource++contentratings/star.gif) left -1000px repeat-x;
}


#content .star-rating a:hover {
	background-position: left bottom;
}

#content .small-star .star-rating a,
#content .small-star .star-rating a:hover,
#content .small-star .star-rating a:active,
#content .small-star .star-rating a:focus {
    background: url(/++resource++contentratings/star_small.gif) left -1000px repeat-x;
}

#content .small-star .star-rating a:hover {
	background-position: left bottom;
}

#content .Rating {
    margin-bottom: 0.75em;
}

#fieldset-manage_categories .Disabled fieldset,
#fieldset-manage_categories .Disabled fieldset legend {
    background-color: lightGrey;
}

#fieldset-manage_categories ol.sequenceWidget {
    list-style: none;
}
